{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div>
    
    {% for product in products %}
        <div>
            {{ product.name }}
        </div>
    {% endfor %}

</div>

{% endblock %}
